body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
    min-height: 100vh;
}

.fullwidthsection{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 10px 15px;
}

.input{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
    height: 50px;
}

.input_btn{
    width: 150px;
    padding: 2px 20px;
}

input{
    border: 1px solid grey;
    outline: 1px solid grey;
    padding: 5px 10px;
    margin-bottom: 20px !important;
}

button[type="submit"]{
    border: 1px solid grey;
    outline: 1px solid grey;
    background: lightgreen;
    padding: 5px 10px;
}

a button{
    border: 1px solid darkgrey;
    outline: 1px solid darkgrey;
    padding: 2px 10px;
    background: #ff8a84;
}

.blue{
    background: #91e4fb;
}

.green{
    background: #aedd94;
}

.yellow{
    background: #fef8a0;
}

.red{
    background: #ff8a84;
}

.nav-link{
    width: 400px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.nav-link:hover{
    color: black;
}

.logout{
    border: none;
}